<div class="table-filter">
  <select class="table-filter__select" onchange={{action "filterByEmployee" value="target.value"}}>
    <option value="" selected>Employee Filter</option>
    {{#each employeeNames as |name|}}
      <option value={{name}}>{{name}}</option>
    {{/each}}
  </select>

  <select class="table-filter__select" onchange={{action "filterByStatus" value="target.value"}}>
    <option value="" selected>Status Filter</option>
    <option value="open">Open</option>
    <option value="closed">Closed</option>
  </select>
  <div class="table-filter__clear-button" {{action "clearAllFilters"}}>
    Clear All Filters
  </div>
</div>

{{#light-table table as |t|}}

  {{t.head
    onColumnClick=(action 'onColumnClick')
    iconAscending='fa fa-sort-asc'
    iconDescending='fa fa-sort-desc'}}

  {{#t.body as |body|}}
    {{#if isLoading}}
      {{#body.loader}}
        Loading...
      {{/body.loader}}
    {{/if}}

    {{#if table.isEmpty}}
      {{#body.no-data}}
       Empty table
      {{/body.no-data}}
    {{/if}}
  {{/t.body}}

{{/light-table}}
